<div class="tickets-container">
    <div class="ticket">
        <img src="./assets/entradas/miami-2504.png" alt="Ticket Miami 25/04" />
        <div class="text-box">
            <a href="https://posh.vip/f/cdda"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/ny-2604.png" alt="Ticket New York 26/04" />
        <div class="text-box">
            <a href="https://dice.fm/event/bg6ao-polenta-w-miss-lilly-flash-rogue-26th-apr-jolene-sound-room-brooklyn-new-york-tickets?pid=f425c1a5&_branch_match_id=1245388741367005334&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1S9INbE0T04zTEwzTLMvyEyxTTMxMk02TDQFAGi2Gj0uAAAA"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/madrid-0905.png" alt="Ticket Madrid 09/05" />
        <div class="text-box">
            <a href="https://dice.fm/event/9vor9-polenta-jueves-9-de-mayo-9th-may-sala-moondance-madrid-tickets"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/barcelona-1105.png" alt="Ticket Barcelona 11/05" />
        <div class="text-box">
            <a href="https://proticketing.com/p62/es_ES/entradas/evento/36286"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/caba-1105.png" alt="Ticket CABA 11/05" />
        <div class="text-box">
            <a href="https://www.passline.com/eventos/polenta-261033"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/caba-1605.png" alt="Ticket CABA 16/05" />
        <div class="text-box">
            <a href="https://www.passline.com/eventos/polenta-electronica-en-niceto-club-261311"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/temperley-1705.png" alt="Ticket Temperley 17/05" />
        <div class="text-box">
            <a href="https://livepass.com.ar/events/polenta-en-temperley-17-05"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/cordoba-1805.png" alt="Ticket Cordoba 18/05" />
        <div class="text-box">
            <a href="https://alpogo.com/evento/polenta-18-de-mayo-studio-theater-14694"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/sanluis-1805.png" alt="Ticket San Luis 18/05" />
        <div class="text-box">
            <a href="https://livepass.com.ar/events/polenta-en-san-luis-18-05"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/caba-2405.png" alt="Ticket CABA 24/05" />
        <div class="text-box">
            <a href="https://www.passline.com/eventos/polenta-261060"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/montevideo-2505.png" alt="Ticket Montevideo 25/05" />
        <div class="text-box">
            <a href="https://redtickets.uy/evento/POLENTA-MONTEVIDEO--2505/15250?no-vcache"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
</div>