<div class="tickets-container">
    <div class="ticket">
        <img src="./assets/entradas/ny-1312.png" alt="Ticket New York 13/12" />
        <div class="text-box">
            <a href="https://link.dice.fm/Ab5572b8a57f" rel="noopener external"
                target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/pde-0301.png" alt="Ticket Punta del Este 03/01" />
        <div class="text-box">
            <a href="https://www.passline.com/eventos/polentour-punta-del-este-0301" rel="noopener external"
                target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/mdq-1101.png" alt="Ticket Mar del Plata 11/01" />
        <div class="text-box">
            <a href="https://venti.com.ar/evento/polentamdq" rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/mdq-1801.png" alt="Ticket Mar del Plata 18/01" />
        <div class="text-box">
            <a href="https://venti.com.ar/evento/polentamdq2" rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
</div>