<div class="tickets-container">
    <div class="ticket">
        <img src="./assets/entradas/bariloche-0808.png" alt="Ticket Bariloche 08/08" />
        <div class="text-box">
            <a href="https://polenta.thebackstage.club/events/polenta-by-apres"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/laplata-0908.png" alt="Ticket La Plata 09/08" />
        <div class="text-box">
            <a href="https://livepass.com.ar/events/polenta-en-el-teatro-opera-lp-09-08"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/ahedo-1708.png" alt="Ticket Haedo 17/08" />
        <div class="text-box">
            <a href="https://livepass.com.ar/events/polenta-en-haedo"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/caba-2408.png" alt="Ticket Buenos Aires 24/08" />
        <div class="text-box">
            <a href="https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.passline.com%2Feventos%2Fpolenta-292961&data=05%7C02%7C%7Cd666265694eb40f8abd708dcad9a8d3e%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C638576126526753170%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C0%7C%7C%7C&sdata=UHutIxqY0VZAxZ1yKWdH4bECEngXISdb%2BxzfWBDwki4%3D&reserved=0"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
    <div class="ticket">
        <img src="./assets/entradas/barcelona-3108.png" alt="Ticket Barcelona 31/08" />
        <div class="text-box">
            <a href="https://proticketing.com/p62/es_ES/entradas/evento/38657/session/2215447/select"
                rel="noopener external" target="_blank">
                <div class="comprar">COMPRAR</div>
            </a>
        </div>
    </div>
</div>