*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::before,
*::after {
    box-sizing: inherit;
}
html{
    font-size: 16px;
}
body { 
    display: flex !important;
    flex-direction: column !important;
    max-width: 100% !important;
    min-width: 360px !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
    caret-color: transparent;
}
a{
    text-decoration: none;
}

h1,
h2{
    max-width: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    color: black;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
}